* {
  margin: 0;
}

body {
  font-family: 'DM sans', sans-serif;
  font-size: 1em;
  background-color: #2a282f;
}

a {
  color: #2a282f;
  text-decoration: none;
}

.nav a:hover {
  color: #a5b4fc;
  border-bottom: 3px solid #a5b4fc;
}

.nav a:focus {
  color: #a5b4fc;
  text-decoration: underline;
  border-bottom: 3px solid #a5b4fc;
}

em {
  color: #a5b4fc;
  font-style: normal;
}

h1 {
  font-size: 3em;
  color: #FFFFFF;
  font-family: 'Horizon', sans-serif;
  letter-spacing: -4px;
}

h2 {
  font-size: 2.2em;
  color: #FFFFFF;
  font-family: 'DM sans', sans-serif;
  font-weight: 600;
}

p,
li {
  font-size: 1.1em;
  color: #FFFFFF;
}

.entete,
.pied-de-page {
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.entete a {
  margin-left: 16px;
}
.pied-de-page a {
  margin-right: 16px;
}

.cta {
  background: linear-gradient(90deg, rgba(30,38,79,1) 0%, rgb(165, 180, 252) 100%);
  color: white;
  border-radius: 50px;
  font-weight: 600;
  padding: 16px 24px;
  margin-top: auto;
  display: inline-block;
}

.cta:hover {
  background: linear-gradient(90deg, rgba(30,38,79,1) 0%, rgba(96,113,194,1) 100%);
  color: white;
  border-radius: 50px;
  font-weight: 600;
  text-decoration: none;
  padding: 16px 24px;
  margin-top: auto;
  display: inline-block;
}

.lien-icone:hover {
  opacity: 0.5;
}

section {
  padding: 80px;
}

nav a {
  margin-left: 30px;
}

@media screen and (max-width: 996px) {
  header nav {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  header nav img {
    margin-bottom: 20px;
  }

  .entete,
  .pied-de-page  {
    padding: 20px 20px;
  }

  h1 {
    font-size: 2em;
  }

  section {
    padding: 50px 20px 50px 20px;
  }

  nav a {
    margin-left: 10px;
    margin-right: 10px;
  }
}
